input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select,
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn {
  --bs-btn-line-height: 0;
}

.btn:hover {
  color: none;
  background-color: transparent;
  border-color: none;
}

.btn-outline-dark {
  border: none !important;
}

.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: transparent;
  border-color: var(--bs-btn-active-border-color);
}

.bg-body-tertiary.dark-mode {
  background-color: hsl(209, 23%, 22%) !important;
}

.form-control.dark-mode {
  box-shadow: none !important;
}


