* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 44%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0 0 0);
  --Warning-text: rgb(184, 33, 33);
  --country-border-color: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --Border-radius-small: 6px;
  --bs-border-color: #dee2e6;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* CSS for navbar*/
.main__container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--Very-Light-Gray);
}

.navbar {
  box-shadow: 2px 2px 8px var(--bs-border-color);
  background-color: var(--White);
}

.navbar-brand {
  font-weight: 800;
  color: var(--Very-Dark-Blue);
}

.navbar > .container-fluid {
  padding: 0 5%;
}

/* CSS fro button */

.btn-outline,
.icon-moon {
  font-weight: 600;
  height: 1rem !important;
  color: var(--Dark-Blue);
}

svg.icon-moon {
  width: 1rem;
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.btn-outline-secondary {
  height: 3rem;
  width: 12.5rem;
  font-size: small;
  color: var(--Black);
  margin-bottom: 1rem;
  border: none;
  background-color: var(--White);
  box-shadow: 2px 2px 8px var(--bs-border-color);
  border-radius: var(--Border-radius-small);
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.actions-container {
  margin: 2rem 1% 2rem;
}

.actions {
  margin: 0 2.6%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}

.loader-img {
  min-height: 100vh;
}

.input-group-search {
  display: flex;
  width: 16rem;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: var(--Border-radius-small);
  background-color: var(--White);
  box-shadow: 4px 2px 8px var(--bs-border-color);
}

.input-group-icon {
  margin-left: 0.5rem;
}

.icon-search {
  height: 3.1rem;
  width: 1.1rem;
}

.form-control {
  height: 3rem;
  width: 88%;
  padding: 0;
  margin-left: 1rem;
  flex: none;
  border: none;
  box-shadow: 4px 2px 8px var(--bs-border-color) !important;
  border-radius: var(--Border-radius-small);
}

/* CSS for main section*/

.countries-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}

.country-card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  gap: 1rem;
  box-shadow: 2px 2px 8px var(--bs-border-color);
  background-color: var(--White);
  border-radius: var(--Border-radius-small);
  cursor: pointer;
}

.country-img > img {
  width: 14rem;
  height: 8rem;
  object-fit: cover;
}

.country-card .info {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.info h1 {
  font-size: 1rem;
  font-weight: 800;
  color: var(--Very-Dark-Blue);
}

.country-card h3 {
  font-size: 12px;
  color: var(--Very-Dark-Blue);
}

.country-card .title {
  color: var(--Very-Dark-Blue);
}

.country-card.dark-mode span {
  color: var(--White);
  font-weight: 400;
}

/* CSS for the Dark Mode*/
.main__container.dark-mode {
  background-color: var(--Very-Dark-Blue);
}

.navbar.dark-mode {
  background-color: var(--Dark-Blue);
}

.bg-body-tertiary.dark-mode,
.input-group-search.dark-mode,
.btn-outline-secondary.dark-mode,
.form-control.dark-mode,
.country-card.dark-mode,
.drop-down-menu.dark-mode,
.dropdown-menu.dark-mode {
  background-color: var(--Dark-Blue);
  box-shadow: none;
}

.form-control.dark-mode {
  box-shadow: none;
  color: var(--White);
}

.title.dark-text {
  color: var(--White);
}

.info .title {
  font-weight: 600;
}

.info .title.dark-text {
  font-weight: 600;
}

.navbar-brand.dark-text,
.icon-moon.dark-text,
.text.dark-text,
.icon-search.dark-text,
.dark-text::placeholder,
.dropdown-item.dark-text,
.dropdown-menu.dark-text,
.country-info.dark-text {
  color: var(--White);
}

.dropdown-menu .dropdown-item:hover {
  background-color: #0d6efd;
  border: 1px solid #3b3be3;
}

/*css for warning-text */
.warning-text {
  color: var(--Warning-text);
  font-weight: 900;
}

/* CSS for mobile screen */
@media (max-width: 578px) {
  .countries-container {
    justify-content: center;
  }

  .navbar-brand {
    font-size: small;
  }

  .navbar > .container-fluid {
    padding: 0 2%;
  }

  .input-group {
    flex-direction: column;
    gap: 2rem;
  }

  .btn-outline {
    font-size: small;
    gap: 0;
  }

  svg.icon-moon {
    width: 1.5rem;
  }

  .input-group-search {
    width: 95%;
  }

  .btn-outline-secondary {
    margin-bottom: 0;
  }
}

/* CSS for CountryDetails Page*/
.country-container {
  margin-top: 2rem;
  padding: 0 5%;
}

.country-info-container {
  display: flex;
  min-height: 100vh;
}

/* .country-container .btn {
  margin-bottom: 1rem;
} */

.back-button {
  margin-bottom: 2rem;
}

.back-icon svg {
  margin-right: 10px;
  margin-bottom: 4px;
}

.btn-outline-dark {
  height: 2rem;
  width: 6rem;
  box-shadow: var(--country-border-color);
}

.btn-outline-dark.dark-mode {
  background-color: var(--Dark-Blue);
  border: none;
}

.image-section > img {
  object-fit: cover;
  width: 25rem;
  height: 20rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 8%;
  padding-top: 1.5rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.info-section h4 {
  font-weight: 800;
}

.borders {
  display: flex;
  flex-wrap: wrap;
}

.border-country {
  font-size: 4px;
}

.btn-outline-dark.border {
  height: 1.5rem;
  width: 7rem;
}

.border-country.dark-text {
  color: var(--White);
}

.btn-outline-dark .country-info.dark-mode {
  background-color: var(--Dark-Blue);
}

.country-info {
  padding: 4px 0;
  gap: 1rem;
}

.info-section .country-info {
  font-weight: 600;
  font-size: 6px;
}

.info-section .country-info > span {
  color: var(--Dark-Gray);
  font-weight: 600;
}

.info-section .country-info.dark-text > span {
  color: var(--White);
  font-weight: 400;
}

.btn-outline-dark.back-button:hover {
  background-color: rgb(242, 242, 242);
  color: black;
}

.btn-outline-dark.back-button.dark-mode:hover {
  background-color: transparent;
}

.btn-outline-dark.border:hover {
  background-color: transparent;
  color: black;
  background-color: rgb(242, 242, 242);
}

.btn-outline-dark.border.dark-mode:hover {
  background-color: transparent;
}

@media (max-width: 1068px) {
  .country-info-container {
    flex-direction: column;
  }

  .info-section {
    padding-left: 0;
  }
}

@media (max-width: 545px) {
  .image-section > img {
    object-fit: cover;
    width: 100%;
    height: 60%;
  }

  .info-container {
    flex-direction: column;
  }
}
